[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme.git
